<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>
  <!-- Change the width and height values to suit you best -->
<iframe id=iframe src=https://jhonatan1988.tellform.com/#!/forms/5a1051a85d61764a4146cbdb style=width:100%;height:500px></iframe>
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px">Powered by <a href=https://www.tellform.com style="color: #999" target=_blank>TellForm</a></div>


  <form action="">
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="name" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
